.titlediv {
  text-align: center;
  font-family: system-ui;
}
.title {color: darkslateblue;}
.box{
  width: 400px;
  height: 500px;
  border-radius: 5%;
  margin:auto;
  padding:10px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.numbermatrice {
  border:5px solid black;
  border-radius: 5%;
  display: flex;
  background-color: black;
  width: 300px;
  align-self: center;
  flex-direction: column;
}
.numbersdiv {
  display: flex;
  justify-content: center;
}
.button1{
  color: black;
  font-size: 20px;
  padding:10px;
  margin:10px;
  background-color: white;
  border-radius: 10%;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.typerdiv{
  text-align: right;
  font-size: 20px;
  font-family: system-ui;
  color: darkslateblue;
  height: 20px;
  border: 5px solid black;
  margin: 20px;
  padding: 10px;
  border-radius: 5%;
  width: 200px;
  background-color: white;
}